@model P2P借貸_MVC.Areas.AreaCollater.Models.CollaterDetail
@{
    ViewBag.Title = "Edit";
}

<h2>借款修改</h2>
<form method="post" action="~/AreaCollater/collater/Edit" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <label for="MemberName" class="col-md-2 control-label">
            MemberName
        </label>
        <div class="col-md-10">
            <input type="hidden" name="CollateralID"
                   value="@Model.CollateralID" />
            <input type="text" class="form-control" name="MemberName"
                   value="@Model.MemberName" />
        </div>
    </div>
    <div class="form-group">
        <label for="loanPrice" class="col-md-2 control-label">
            loanPrice
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="loanPrice"
                   value="@Model.loanPrice" />
        </div>
    </div>
    <div class="form-group">
        <label for="CollateralName" class="col-md-2 control-label">
            CollateralName
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="CollateralName"
                   value="@Model.CollateralName" />
        </div>
    </div>
    <div class="form-group">
        <label for="Collateraluse" class="col-md-2 control-label">
            Collateraluse
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="Collateraluse"
                   value="@Model.Collateraluse" />
        </div>
    </div>
    <div class="form-group">
        <label for="interestrate" class="col-md-2 control-label">
            interestrate
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="interestrate"
                   value="@Model.interestrate" />
        </div>
    </div>
    <div class="form-group">
        <label for="Collateralsituation" class="col-md-2 control-label">
            Collateralsituation
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="Collateralsituation"
                   value="@Model.Collateralsituation" />
        </div>
    </div>
    <div class="form-group">
        <label for="CollateralEX" class="col-md-2 control-label">
            CollateralEX
        </label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="CollateralEX"
                   value="@Model.CollateralEX" />
        </div>
    </div>
    <div class="form-group">
        <label for="Collateralimage" class="col-sm-2 control-label">圖片上傳</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" id="Collateralimages" name="Collateralimages" />
            @*@Html.EditorFor(p => p.Collateralimage, new { htmlAttributes =new {type="file",placeholder="Collater Image",@class="form-control" } })*@
            @if (Model.Collateralimage != null)
            {
                <img id="img1" class="img-thumbnail thumb" src="@Url.Action("GetImageByte","Collater",new {id=Model.CollateralID})" />
            }
            <img id="img1" class="img-thumbnail thumb" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">修改</button>
        </div>
    </div>
</form>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#Collateralimages').change(function () {
            var theFile = this.files[0];  //theFile 是 File 物件
            var reader = new FileReader(); //建立FileReader物件
            reader.readAsDataURL(theFile); //透過FileReader物件讀圖
            reader.addEventListener("load", function (event) {
                $('#img1').attr('src', event.target.result);
            })
        })
    })
</script>