@model P2P借貸_MVC.Areas.Standard_Case.Models.Standard_case
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Stand_case", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(p => p.MemberSponer, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(p => p.MemberSponer, new { htmlAttributes = new { placeholder = "主辦者會員編號", @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Memberprople, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(p => p.Memberprople, new { htmlAttributes = new { placeholder = "可參加人數", @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Casemoney, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(p => p.Casemoney, new { htmlAttributes = new { placeholder = "標案總金額", @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.CaseMonth, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(p => p.CaseMonth, new { htmlAttributes = new { placeholder = "標案期數", @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.CaseFirstday, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(p => p.CaseFirstday, new { htmlAttributes = new { placeholder = "標案開始日", @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.MoneyForday, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(p => p.MoneyForday, new { htmlAttributes = new { placeholder = "匯款日", @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">修改</button>
            <a href="~/Standard_Case/Stand_Case/Loading" class="btn btn-primary">返回</a>
        </div>
    </div>
}