@model P2P借貸_MVC.Models.Bank

@{
    ViewBag.Title = "Bank_edit";
}

<h2>Bank_edit</h2>
<hr />

@using (Html.BeginForm("Bank_Edit", "Manage", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <input type="hidden" id="BankCode" name="BankCode" value=@Model.BankCode />

    <div class="form-group">
        @Html.LabelFor(s => s.BankCode, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(s => s.BankCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Bank Code", disabled = "disabled" } })


        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.BankName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(s => s.BankName, new { htmlAttributes = new { @class = "form-control", placeholder = "Bank Name" } })


        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="submit" class="btn btn-default">修改</button>
        </div>
    </div>
}

@Html.ActionLink("回到上一頁", "Manage", "Manage")

