@model  IEnumerable<P2P借貸_MVC.Models.BasicInfo>

@{
    ViewBag.Title = "List_Member";
}
<div>
    <h2>帳號清單</h2>

    <a href="~/Member/Register" class="btn btn-primary">新增帳號</a>

</div>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>會員 ID</th>
            <th>會員名字</th>
            <th>密碼</th>
            <th>eMail</th>
            <th>權限等級</th>
            <th>編輯</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.MemberID</td>
                <td>@item.MemberName</td>
                <td>@item.Password</td>
                <td>@item.eMail</td>
                <td>@item.Definition.PermissionCall</td>
                <td><a href="~/Member/Edit/@item.MemberID" class="btn btn-primary">編輯</a></td>
                <td><a href="~/Member/Delete/@item.MemberID" class="btn btn-danger">刪除</a></td>
            </tr>
        }

    </tbody>

</table>