
@{
    ViewBag.Title = "Manage_Admin";
}

<div class="col-sm-2 col-md-2">
    <div id="div_menu" class="list-group">
        <button id="menu_acc" type="button" class="list-group-item">帳號清單</button>
        <button id="menu_per" type="button" class="list-group-item">權限清單</button>
        <button id="menu_bank" type="button" class="list-group-item">銀行清單</button>

    </div>
</div>
<div id="div_list" class="col-sm-10 col-md-10">
    @*@Html.Action("List_Bank");
        @Html.Action("List_Permission");*@
    @Html.Action("List_Member");
</div>


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    $(function () {

        var list = $("#div_list");

        $("#menu_acc").click(function () {
            list.empty();
            list.load("/Manage/List_Member");
            @*list.html(@Html.Action("List_Member"));*@

        });

        $("#menu_per").click(function () {
            list.empty();
            list.load("/Manage/List_Permission");
            @*list.html(@Html.Action("List_Permission"));*@

        });

        $("#menu_bank").click(function () {
            list.empty();
            list.load("/Manage/List_Bank");
            @*list.html(@Html.Action("List_Bank"));*@

        });
    });

</script>