
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

@using (Html.BeginForm("Logout", "Member", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">登出</button>
        </div>
    </div>
}

@*<form action="~/Member/Logout" class="form-horizontal">
    <input type="submit" value="Logout" class="btn btn-default">
</form>*@

<hr />

@{
    HttpCookie _cookie = Request.Cookies["account"];
    string name = _cookie.Values["MemberName"];

    switch (_cookie.Values["PermissionLevel"])
    //switch (Request.Cookies["PermissionLevel"].Value)
    {

        case "999":
            @*<h2>Hello, 管理員 @Request.Cookies["MemberName"].Value </h2>*@
            <h2>Hello, 管理員 @(name) </h2>
            @Html.Action("Manage_Admin")
            break;

        default:
            @*<h2>Hello, @Request.Cookies["MemberName"].Value </h2>*@
            <h2>Hello, @(name) </h2>
            @Html.Action("Manage_Person")
            break;
    }
}